@keyframes gradient-animation {
  0% { 
    background-position: left top;
    background-size: 200% 100%;
  
  }
  49.9% {
    background-position: left top;  
  }
  50% { 
    background-size: 100% 100%;
  }
  50.1% {
    background-position: right top; 
  }
  100% { 
    background-position: right top;
    background-size: 200% 100%;
  }
}