@media screen and (min-width: 2000px){
  .welcome-page__header__navigation {
    gap: 8em;
  }
  .link {
    font-size: 80px;
  }
}

@media screen and (min-width: 4000px){
  .welcome-page__header__navigation {
    gap: 8em;
  }
  .link {
    font-size: 100px;
  }
}

@media screen and (max-width: 600px){
  .welcome-page__main-title {
    font-size: 35px;
  }
  .welcome-page__main-title-descrioption {
    font-size: 30px;
  }
  .link {
    font-size: 15px;
  }
}