@media screen and (min-width: 3000px){
  .login-form {
    font-size: 120px;
  }
  .title {
    font-size: 130px;
  }
}

@media screen and (min-width: 4000px){
  .login-form {
    font-size: 140px;
  }
  .title {
    font-size: 150px;
  }
}

@media screen and (max-width: 500px){
  .login-form {
    font-size: 40px;
  }
  .title {
    font-size: 50px;
  }
}