.welcome-page {
  display: grid;
  grid-auto-flow: row;
  grid-template-rows: repeat(3, 1fr);
  position: relative;
  z-index: 0;
  min-height: 100svh;
  min-width: 100%;
  font-family: 'Pixelify Sans', sans-serif;
  font-weight: 400;
  font-size: clamp(15px, calc(max(100vw, 100vh) / 96), 120px);
  color: #fff;
  background-color: #000; /*for users with slow internet*/
  background-image: url(../img/backgrounds/welcome-page-background.jpg);
  background-image: image-set(
    url("../img/backgrounds/welcome-page-background.avif") type("image/avif"),
    url("../img/backgrounds/welcome-page-background.webp") type("image/webp"));
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
} 

.welcome-page::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}

.welcome-page__header__navigation {
  display: flex;
  gap: 2em;
  padding: 1.1em;
}

.link {
  color:#fff;
  text-decoration: none;
  text-transform: uppercase;
}

.welcome-page__main {
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.welcome-page__main-title-descrioption {
  text-align: center;
  font-size: 1.5em;
}

.welcome-page__main-title {
  font-size: 5em;
  font-weight: 600;
}

.registerbtn {
  background: radial-gradient(circle, rgba(41,236,255,1) 6%, rgba(34,0,250,1) 47%, rgba(209,105,194,1) 100%); 
  background-size: 400% 400%;
  animation: gradient-animation 3s infinite alternate linear;
  text-align: center;
  width: clamp(250px, 70vw, 370px);
  height: clamp(50px, 6vh, 100px);
  transition: 50ms;
}

.button-link {
  font-weight: 600;
  color: #000;
}


.registerbtn:hover {
  outline: 0.2em solid #fff;
}

.registerbtn:active {
  transform: scale(0.93);
}


/* .login-form {
  height: 100vh;
  padding: 0 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
} */

/* input {
  width: 100%;
  border: 0.04em solid white;
  text-align: center;
}

input::-webkit-input-placeholder {
  text-align: center;
}
  
input:-moz-placeholder { 
  text-align: center;
}
  
input::-moz-placeholder { 
  text-align: center;
  }
  
input:-ms-input-placeholder {
  text-align: center;
}

.title {
  font-size: 60px;
  font-weight: 800;
}

.button-submit {
  background-color: #fff;
  color: #000;

  align-self: center;
} */